nav {
  background-color: #54769f;
  color: whitesmoke;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(160, 160, 160, 0.45);
          box-shadow: 0px 1px 2px 1px rgba(160, 160, 160, 0.45);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

nav a {
  color: #e6e6e6;
}

#nav-title {
  font-size: 1.5rem;
  padding: 15px;
  list-style: none;
}
