#post-container {
  margin: 10px 0 30px 0;
}

.post .post:last-of-type {
  margin-bottom: 30px;
}

.post-profile-image {
  display: inline-block;
  margin-bottom: 5px;
}

.post-profile-image img {
  border-radius: 50%;
}

.post-info {
  position: absolute;
  display: inline-block;
  margin: 5px 0 0 10px;
  z-index: 1;
}

.post-username {
  color: #54769f;
  font-size: 22px;
  font-weight: 600;
}

.post-date {
  font-size: 20px;
  font-weight: 400;
}

.post-content {
  font-size: 20px;
  font-weight: 400;
}
