@import "./globals";

nav {
  background-color: $accent-color;
  color: whitesmoke;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  a {
    color: $primary-color;
  }
}

#nav-title {
  font-size: 1.5rem;
  padding: 15px;
  list-style: none;
}
