@import "./globals";

nav {
  background-color: $primary-color;
  color: whitesmoke;
  border-bottom: 2px solid $accent-color;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  a {
    color: $secondary-color;
  }
}

#nav-title {
  font-size: 1.75rem;
  padding: 15px;
  list-style: none;
}
