@import "./globals";

#post-container {

}

.post {
  padding: 10px;
  margin: 10px 20px;
  .post:last-of-type {
    margin-bottom: 30px;
  }
}

.post-profile-image {
  display: inline-block;
  margin-bottom: 5px;
  img {
    border-radius: 50%;
  }
}

.post-info {
  position: absolute;
  display: inline-block;
  margin: 5px 0 0 10px;
  z-index: 1;
}

.post-username {
  color: $accent-color;
  font-size: 22px;
  font-weight: 600;
}

.post-date {
  font-size: 20px;
  font-weight: 400;
}

.post-content {
  font-size: 20px;
  font-weight: 400;
}
